 <form #form="ngForm">
    <input type="email" class="form-control" id="correo_electronico" name="correo_electronico" ng-model #correo_electronico aria-describedby="emailHelp" placeholder="Correo electronico">
    <br>
    <input type="text" class="form-control" id="primer_nombre" name="primer_nombre" ng-model #primer_nombre placeholder="Primer Nombre">
    <br>
    <input type="text" class="form-control" id="segundo_nombre" name="segundo_nombre" ng-model #segundo_nombre placeholder="Segundo Nombre">
    <br>
    <input type="text" class="form-control" id="primer_apellido"  name="primer_apellido" ng-model #primer_apellido placeholder="Primer Apellido">
    <br>
    <input type="text" class="form-control" id="segundo_apellido" name="segundo_apellido" ng-model #segundo_apellido placeholder="Segundo Apellido">
    <br>
    <input type="text" class="form-control" id="direccion"  name="direccion" ng-model #direccion placeholder="Direccion">
    <br>
    <input type="text" class="form-control" id="num_celular" name="num_celular" ng-model #num_celular placeholder="Numero celular">
     <br>
    <input type="password" class="form-control" id="clave" name="clave" ng-model #clave placeholder="Clave">          
    <br>
    <select class="form-control" id="roles" name="roles" ng-model #rol>
      <option>Roles</option>
       <option *ngFor="let rol of roles"[value]='rol.idRol'>{{rol.nomRol}}</option>
    </select>
     
     <div id="botones">
        <button (click)="enviarEstado()" type="button" class="btn btn-success">Login</button>
        <button (click)="agregar(correo_electronico.value, primer_nombre.value, segundo_nombre.value, primer_apellido.value, segundo_apellido.value,direccion.value, num_celular.value, clave.value, rol.value)" class="btn btn-primary">Registro</button>
    </div>
 </form>

