<div *ngIf="comprobar(); else log">
</div>
<ng-template #log>
<br>
<form #form="ngForm">
    <div class="form-group row">
        <label for="example-text-input" class="col-4 col-form-label">Correo</label>
        <div class="col-8">
            <input type="email" [value]="cuenta.correoElectronico" class="form-control" id="correo_electronico" name="correo_electronico" ng-model #correo_electronico aria-describedby="emailHelp" placeholder="Correo electronico">
        </div>
    </div>
     <div class="form-group row">
        <label for="example-text-input" class="col-4 col-form-label">Primer Nombre</label>
        <div class="col-8">
            <input type="text" [value]="cuenta.primerNombre" class="form-control" id="primer_nombre" name="primer_nombre" ng-model #primer_nombre placeholder="Primer Nombre">
        </div>
    </div>
    <div class="form-group row">
        <label for="example-text-input" class="col-4 col-form-label">Segundo Nombre</label>
        <div class="col-8">
            <input type="text" [value]="cuenta.segundoNombre" class="form-control" id="segundo_nombre" name="segundo_nombre" ng-model #segundo_nombre placeholder="Segundo Nombre">
        </div>
    </div>
    <div class="form-group row">
        <label for="example-text-input" class="col-4 col-form-label">Primer Apellido</label>
        <div class="col-8">
            <input type="text" [value]="cuenta.primerApellido" class="form-control" id="primer_apellido"  name="primer_apellido" ng-model #primer_apellido placeholder="Primer Apellido">
        </div>
    </div>
    <div class="form-group row">
        <label for="example-text-input" class="col-4 col-form-label">Segundo Apellido</label>
        <div class="col-8">
            <input type="text" [value]="cuenta.segundoApellido" class="form-control" id="segundo_apellido" name="segundo_apellido" ng-model #segundo_apellido placeholder="Segundo Apellido">
        </div>
    </div>
    <div class="form-group row">
            <label for="example-text-input" class="col-4 col-form-label">Direccion</label>
            <div class="col-8">
                 <input type="text" [value]="cuenta.direccion" class="form-control" id="direccion"  name="direccion" ng-model #direccion placeholder="Direccion">
            </div>
    </div>
    <div class="form-group row">
            <label for="example-text-input" class="col-4 col-form-label">Número celular</label>
            <div class="col-8">
                <input type="text" [value]="cuenta.numCelular" class="form-control" id="num_celular" name="num_celular" ng-model #num_celular placeholder="Numero celular">
            </div>
    </div>
      <div class="form-group row">
            <label for="example-text-input" class="col-4 col-form-label">Clave</label>
            <div class="col-8">
                <input type="password" [value]="clave.clave" class="form-control" id="clave" name="clave" ng-model #clave placeholder="Clave">          
            </div>
    </div>
     <div id="botones">
        <button (click)="actualizarCuenta(correo_electronico.value, primer_nombre.value, segundo_nombre.value, primer_apellido.value, segundo_apellido.value, direccion.value, num_celular.value,clave.value)" type="button" class="btn btn-success">Actualizar</button>
        <button (click)="eliminarCuenta(correo_electronico.value)" type="button" class="btn btn-danger">Eliminar</button>
    </div>
 </form>
</ng-template>
