<form #form="ngForm">
<br>
<div class="form-group">
    <input type="text" class="form-control"  name="nombre_disco" ng-model #nombre_disco placeholder="Nombre disco">
  </div>
  
  <div class="form-group">
    <div class="input-group">
      <input class="form-control" placeholder="Fecha de lanzamiento"
             name="dp" [(ngModel)]="model" ngbDatepicker #fecha="ngbDatepicker">
      <div class="input-group-addon" (click)="fecha.toggle()" >
        <span class="fa fa-calendar" style="width: 1.2rem; height: 1rem; cursor: pointer;"></span>
      </div>
    </div>
  </div>

  <div class="form-group">
    <input type="text" class="form-control" name="descripcion_disco" ng-model #descripcion_disco placeholder="Descripcion disco">
  </div>
<div id="boton">
<button (click)="agregar(nombre_disco.value, fecha.value, descripcion_disco.value)" type="button" class="btn btn-success">Agregar</button>
</div>
</form>
<br>

<table class="table">
  <thead>
    <tr>
      <th>Fecha</th>
      <th>Nombre Disco</th>
      <th>Descripción</th>
      <th>Eliminar</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let dis of discos">
      <td>{{dis.F_LANZAMIENTO | date: 'dd MMMM yyyy'}}</td>
      <td>{{dis.NOM_DISCO}}</td>
      <td>{{dis.DESC_DISCO}}</td>
      <td><button (click)="eliminarDisco(dis.ID_DISCO)" type="button" class="btn-sm btn btn-danger"><span class="fa fa-trash-o"></span></button></td>
    </tr>
  </tbody>
</table>