#back_login{
    position: fixed;
    background-image: url("/assets/imagen/login.jpg");
    height: 100%;
    width: 100%;
}

#back_login_nuevo{
    position: absolute;
    height: 100%;
    width: 100%;
}

#login{
    width: 60%;
    margin: auto;
    padding-left: 8%;
    padding-right: 8%;
    padding-top: 1%; 
    top: 50%;
}
#fondo{
    padding: 10%;
    background-color: rgba(149, 154, 132, 0.53);
}
