<div id="back_login">
</div>
<div id="back_login_nuevo">
    <div id="login">
        <div id="fondo">
            <ngb-tabset type="pills">
                <ngb-tab>
                    <ng-template ngbTabTitle><b>Discos</b></ng-template>
                    <ng-template ngbTabContent>
                        <app-disco></app-disco>
                    </ng-template>
                </ngb-tab>
                <ngb-tab>
                    <ng-template ngbTabTitle><b>Canciones</b></ng-template>
                    <ng-template ngbTabContent>
                        <app-cancion></app-cancion>
                    </ng-template>
                </ngb-tab>
                <ngb-tab>
                    <ng-template ngbTabTitle><b>Lista</b></ng-template>
                    <ng-template ngbTabContent>
                        <app-lista-canciones></app-lista-canciones>
                    </ng-template>
                </ngb-tab>
                <ngb-tab>
                    <ng-template ngbTabTitle><b>Cuenta</b></ng-template>
                    <ng-template ngbTabContent>
                        <app-cuenta></app-cuenta>
                    </ng-template>
                </ngb-tab>
            </ngb-tabset>
        </div>
    </div>
</div>
